.header{
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background: url("../img/heroImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &__heading{
        grid-row: 4/5;
        grid-column: 2/9;
        font-family: BrunoAceSC;
    }

    &-heading{
        color: #fff;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: bold;
        letter-spacing: 2.5px;
    }

    &__subheading{
        grid-row: 5/6;
        grid-column: 2/5;
        font-family: 'Cambay', sans-serif;
    }

    &-subheading{
        color: #fff;
        font-size: 2rem;
    }
}