.card-body{
    display: flex;
    flex-direction: row;

    &__left{
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 1em;
    }

    &-heading{
        font-family: BrunoAceSC, sans-serif;
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    &-info{
        font-family: 'Cambay', sans-serif;
        font-size: 1.6rem;
        margin-right: 1em;
    }
}

.btn{
    text-decoration: none;
}

.modal{

    &-title{
        font-family: $display-font;
        font-size: 2rem;
    }
}

.c-student-cards__card:hover {
    animation: shake 0.5s ease-in;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  