.navigation{
    height: 10vh;
    font-size: 2rem;

    &__header{
        padding-right: 5rem;
        padding-left: 2rem;
        color: white;
        font-family: 'Bangers', cursive;
        font-size: 5rem;
        font-weight: bold;
    }
  }


  