@mixin font-face {
    font-family: BrunoAceSC;
    src: url(../fonts/bruno_ace_sc_regular.ttf);
}

.navigation{
    height: 10vh;
    font-size: 2rem;

    &__header{
        padding-right: 5rem;
        padding-left: 2rem;
        color: white;
        // font-family: $font-face;
        font-size: 5rem;
        font-weight: bold;
    }
  }

.navbar-collapse{
    font-family: 'Bangers', cursive;
    font-size: 3rem;
}

.dropdown-item{
    font-size: 2rem;
}

.dropdown-menu{
    padding: 2rem;
}

.btn{
    font-size: 2rem;
    margin-right: 2rem;
}

.form-control{
    font-size: 2rem;
}